html {
  scroll-behavior: smooth;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  color: var(--color-text-main);
  font-weight: 400;
  font-family: Pacifico, serif;
  font-style: normal;
  line-height: 1.5;
  background-color: var(--color-main);

  &.body--quizz {
    background-color: var(--color-contrast);
  }
}

.main {
  flex-grow: 1;
}

.wrapper {
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  padding: 10px 20px;
}

.font-sniglet {
  font-family: Sniglet, serif;
}

.btn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 20px 40px;
  color: var(--color-contrast);
  font-size: 40px;
  line-height: 135%;
  text-align: center;
  background-color: var(--color-success);
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover,
  &:active {
    background-color: var(--color-success-pressed);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  &:disabled {
    background-color: var(--color-placeholder);
  }
}
