  <header class="wrapper">
<div class="section nav">

    <div class="logo{{#if isMainPage}} logo--main{{/if}}">
      <div class="logo__bg"></div>
    <a href="/" class="logo__content">
{{> components/bird-icon isMainPage}}
<h1>SongBird</h1>
    </a>
</div>

<div class="lang-switcher font-sniglet js-langSwitcher">
  <div class="lang-switcher__bg"></div>
  <span data-langCurrent="en" class="active">EN</span>
  <div>|</div>
  <span data-langCurrent="ru">RU</span>
</div>

    </div>
</header>
