<section class="wrapper">
  <div class="section quiz">

<div class="panel">

<div class="panel__score">
  <span data-lang="panel.score">Score:</span>
  <span>0</span>
</div>
  <ul class="panel__list font-sniglet">
    <li data-lang="panel.warmUp" class="active">Warm-up</li>
    <li data-lang="panel.sparrows ">Sparrows</li>
    <li data-lang="panel.forest">Forest Birds</li>
    <li data-lang="panel.prey">Birds of Prey</li>
    <li data-lang="panel.seabirds">Seabirds</li>
  </ul>
</div>

  </div>
</section>
